In [42]:
import pandas as pd
import matplotlib.pyplot as plt

In [95]:
df_bookings = pd.read_csv('bookings.csv')
df_bookings_data = pd.read_csv('bookings_data.csv')
df_customer_data = pd.read_csv('customer_data.csv')
df_hotels_dats = pd.read_csv('hotels_data.csv')
df_payments_data = pd.read_csv('payments_data.csv')
df_train_data = pd.read_csv('train_data.csv')

In [96]:
df_train_data = pd.merge(df_train_data, df_payments_data, on = 'booking_id' , how = 'inner')
df_bookings.booking_status[df_bookings.booking_status == 'completed'] = 1
df_bookings.booking_status[df_bookings.booking_status != 1 ] = -1
df_bookings.booking_status.unique()

array([1, -1], dtype=object)

In [78]:
df_train_data.payment_type[df_train_data.payment_type == 'credit_card'] = 1
df_train_data.payment_type[df_train_data.payment_type == 'gift_card'] = 2
df_train_data.payment_type[df_train_data.payment_type == 'debit_card'] = 3
df_train_data.payment_type[df_train_data.payment_type == 'voucher'] = 4
df_train_data.payment_type[df_train_data.payment_type == 'not_defined'] = -1

C:\Users\admin\AppData\Local\Temp\ipykernel_15308\4101812053.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_train_data.payment_type[df_train_data.payment_type == 'credit_card'] = 1
C:\Users\admin\AppData\Local\Temp\ipykernel_15308\4101812053.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_train_data.payment_type[df_train_data.payment_type == 'gift_card'] = 2
C:\Users\admin\AppData\Local\Temp\ipykernel_15308\4101812053.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_train_data.payment_type[df_train_data.payment_type == 'debit_card'] = 3
C:\Users\admin\AppData\Local\Temp\ipykernel_15308\4101812053.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_train_data.payment_type[df_train_data.payment_type == 'voucher'] = 4
C:\Users\admin\AppData\Local\Temp\ipykernel_15308\4101812053.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_train_data.payment_type[df_train_data.payment_type == 'not_defined'] = -1

In [91]:

# df_train_data.groupby(['booking_id'])['payment_value'].sum()

data  = [df_train_data.booking_id, df_train_data.payment_value_x]
data

[0        87114b39712e6da79b0a377eb73fc7af
 1        81e283fa7e4f11123a3fb894f18e6bfb
 2        6530bb5ed4a7648915306a63d374c9e4
 3        5f95d01e79bd1349cc208361f099d6f1
 4        d871cd5c22b83b5ea8f6e0e2eaf8e099
                        ...
 63218    734a0b1c8111f2272a3f36d398cd699c
 63219    f0669f784db00fa86d035cf860222ec9
 63220    4744368f5571d1f590031933e455d400
 63221    039fc1f0ceb7635e3f7d92067725825d
 63222    b1eec2a1fbb265a0db050890531360ec
 Name: booking_id, Length: 63223, dtype: object,
 0         397.26
 1        1333.25
 2         682.50
 3          42.78
 4          46.96
           ...
 63218     351.33
 63219     209.76
 63220     231.56
 63221      66.41
 63222      40.68
 Name: payment_value_x, Length: 63223, dtype: float64]

In [83]:
# df_train_data = df_train_data.sort_values('payment_sequential').drop_duplicates(['booking_id'], keep='last')
# print(df_train_data.payment_value for df_train_data.booking_id in 'd1b0e818e3ccc5cb0e39231352fa65da')
df_train_data.loc[df_train_data['booking_id'] == 'd1b0e818e3ccc5cb0e39231352fa65da', 'payment_value']

22470     66.02
22471     29.16
22472      3.71
22473      1.08
22474     12.86
22475      8.51
22476      3.68
22477      0.66
22478      5.02
22479      4.03
22480      0.00
22481     19.26
22482     29.05
22483     14.04
22484      2.95
22485     26.02
22486      3.60
22487      4.11
22488      5.02
22489      0.00
22490     12.86
22491     28.27
22492      3.72
22493      0.73
22494      0.32
22495     18.86
22496    150.00
22497      0.42
22498      4.03
Name: payment_value, dtype: float64

In [84]:
df_train_data

,booking_id,rating_score,payment_sequential,payment_type,payment_installments,payment_value
0,87114b39712e6da79b0a377eb73fc7af,4,1,1,8,397.26
1,81e283fa7e4f11123a3fb894f18e6bfb,5,1,1,10,1333.25
2,6530bb5ed4a7648915306a63d374c9e4,5,1,2,1,682.50
3,5f95d01e79bd1349cc208361f099d6f1,4,1,1,2,42.78
4,d871cd5c22b83b5ea8f6e0e2eaf8e099,4,1,1,1,46.96
...,...,...,...,...,...,...
52314,734a0b1c8111f2272a3f36d398cd699c,5,1,1,10,351.33
52315,f0669f784db00fa86d035cf860222ec9,5,1,1,1,209.76
52316,4744368f5571d1f590031933e455d400,5,1,1,6,231.56
52317,039fc1f0ceb7635e3f7d92067725825d,4,1,1,1,66.41
52318,b1eec2a1fbb265a0db050890531360ec,1,1,2,1,40.68